body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

h3 {
    font-size: 16px;
    margin-top: 20px;
    color: #444;
}

.description {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #555;
}

#copyAlert {
    margin-top: 10px;
    color: green;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

li:hover {
    background-color: #f9f9f9;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.nav-icon {
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}
